<h2>This is your profile page</h2>

<img src="https://c.tenor.com/HyGmghcMeOIAAAAC/frida-frida-art.gif" alt="frida gif">

<div>email: <%= currentUser.email %> </div>

<a href="/post/createPost">Create a post</a>